<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logged in Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map.css" type="text/css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- External Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


  </head>

  <body>
    <%- include('partials/nav-bar') %>

    <header id="login-head">
    </header>

    <% for (const indv of allmaps) { %>
      <% const lon = indv.lon %>
      <% const lat = indv.lat %>
      <% const name = indv.name %>

    <div class="heart-map-title">
    <div class="page-titles"><h1><%= name %> map</h1></div>
    <% if (username) { %>
    <div id="heart"><i onclick="myFunction(this)" class="fa fa-heart"></i> </div>
    </div>

    <% } %>

    <!-- pull specific map from template vars (map)  -->


    <div id="map"></div>
    <script>

    let map = L.map('map', {
      minZoom: 7,
      maxZoom: 10,
      padding: 1,
    }).setView(['<%= lon %>', '<%= lat %>'], 5);

    // dynamic constraint
    let bounds = map.getBounds().pad(.3)
    map.setMaxBounds(bounds);

    // console.log(map.getBounds())

    const attribution = '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>';
    const tileUrl = 'https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=wpKyMC536a0ZlXqAX7iu';


    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(map);


    getData()

    // Toggle switch of Heart to Red Heart
    // function myFunction(x) {
    //   x.classList.toggle("fa-fa-heart");
    // }

    // zoom out on popup
    function zoomOut() {
        map.flyTo(['<%= lon %>', '<%= lat %>'], 7, {duration: 0.5}).closePopup();
    }


    // Map Marker, adds data from db to map marker popups
    async function getData() {
      const response = await fetch('/api/pins');
      const data = await response.json();
      // console.log(data.pins)
      for (item of data.pins) {
        const marker = L.marker([item.lat, item.lon], {
          // hover description
          title: "big foot sighting",
        }).addTo(map);

        let txt = `<h1> ${item.title} </h1> <div> <img src= ${'"'+item.picture_url+'"'} height="150px" width="auto"/> <p id="description"> ${item.description} </p> <p id="longLat">location at ${[(item.lat).toFixed(2), (item.lon).toFixed(2)]} </p></div> <button onclick="zoomOut()"> zoom out </button>`;


    // zoom in on popup
        marker.on('click', function(e){
          map.flyTo([e.latlng.lat, e.latlng.lng], 10, {duration: 0.5});

        });

        marker.bindPopup(txt);
      }
      // console.log(data)

    }
    </script>
   <% } %>


<script> // Toggle switch of Heart to Red Heart
  function myFunction(x) {
    x.classList.toggle("fa-fa-heart");
  }</script>

</body>
</html>


